.cardContainer{
  height: 400px;
  width: 300px;
  background-color: white;
  border: 2px solid black;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0 2px;
  margin-left: 30px;
  margin-bottom: 10px;
}
  
#title, #desc{
  padding: 10px;
}

#image{
  padding: 10px;
  width: 200px;
  height: 200px;
}

.container{
  padding-top: 20px;
}

