

img{
  height: 50px;
  width: 80px;
  padding-left: 20px;
}

li {
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #50A060;
}

#nav-items {
  display: flex;
  align-items: center;
  margin-left: auto;
}

ul {
  display: flex;
  gap: 30px; 
  padding-right: 50px;
}

li:hover{
  cursor: pointer;
  text-decoration-line: underline;
}

#nav-container{
  position: sticky;
  top: 0%;

}